body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #fafafa;
}
.sidenav a{
    text-decoration: none;
    font-size: 18px;
    color: darkblue;
    display: block;
    
}
aside a:hover {
    color: white;
}
.bg{
    background-color: rgb(158, 212, 236);
}
.row_height {
    height: 500px;
}